<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIURL" value="https://115.124.105.99:6443"/>
    <add key="Endpoint" value="/humanres/control/getAttendance"/>
    <add key="AuthorizationKey" value="Basic Q0hBVkFSQVdTMTAwMDEzOmNoYXZhcmFsb2dpbg=="/>
    <add key="UnitName" value="CHAVARA"/>
    <add key="ModuleType" value="Attendance"/>
    <add key="RequestId" value="CHAVARAATReq00013"/>
    <add key="SQLQuery" value= "select SerialNumber,[Permanent Employee Code],[Employee Name],[Unit Name],[Unit ID],[Date],[IN TIME],[OUT TIME] from Mx_VEW_DailyAttendance_Excel_Out "/>
    <add key="ConnectionString" value=""/>
    <add key="FileName" value=""/>
    <add key="SourceFolder" value="C:\\Users\\Navaneetha.Krishnan\\source\\repos\\TestExcel\\bin\\Debug\\net6.0\\ATTData\\"/>
    <add key="DestinationFoler" value="C:\\Users\\Navaneetha.Krishnan\\source\\repos\\TestExcel\\bin\\Debug\\net6.0\\ATTData\\Moved\\"/>
    <add key="devicename" value="1:8101.CPU.Builder_Number,2:8101.CPU.Builder_Number"/>
  </appSettings>
</configuration>

{
deviceid:8101.CPU.Builder_Number
Userid:
}